.image{
    height: 10vh;
    width: 9vw;
    display: block;
    margin: auto;
    flex-direction: column;
    
    border: 7px solid white;
}
.images{
    min-height: 50vh;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap: 0.5rem;
}
.selected{
     border: 7px solid green;
     
  box-shadow: 5px 5px gray;

    }
.one{

    background-image: url(../img/orange.png);
    object-fit: cover;
    
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.two{

    
    background-image: url(../img/apple.png);
    
  background-position: center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
.three{

    background-image: url(../img/banana.png);
    background-size: 50px 50px;
    
  background-position: center;
    background-repeat: no-repeat;
}
.four{

    background-image: url(../img/kiwi.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.five{
    background-image: url(../img/watermelon.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;

}
.six{
    
    background-image: url(../img/mango.png);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;

}
.seven{

    background-image: url(../img/strawberry.png);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.eight{

    background-image: url(../img/guava.png);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.nine{
    background-image: url(../img/cherry.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}