<html>
<div class="container pt-4 px-2 pb-2 py-8">
    <div class="row bg-light rounded justify-content-center mx-0">
        <div class=" col-md-8 col-lg-6 mx-auto d-table h-50">
            <div class="d-table-cell align-middle">
                <h2>You are logged out</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a class="btn btn-primary" href="{% url 'login' %}">Log In again</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
</html>