{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="www.frebsite.nl" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>LearnUp - Online Course & Education HTML Template</title>
        <!-- Custom CSS -->
        <link href="{% static '/css/styles.css' %}" rel="stylesheet">
        <link href="{% static '/css/images.css' %}" rel="stylesheet">
        <!-- Custom Color Option -->
        <link href="{% static '/css/colors.css' %}" rel="stylesheet">
    </head>
    <body class="log-bg">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css'%} -->
        <!-- ============================================================== -->
        <div id="preloader">
            <div class="preloader">
                <span></span><span></span>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ========================== SignUp Elements ============================= -->
            <section class="log-space">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-11 col-md-11">
                            <div class="row no-gutters position-relative log_rads">
                                <div class="col-lg-6 col-md-7 position-static p-4">
                                    <div class="log_wraps">
                                        <div class="log__heads">
                                            <h4 class="mt-0 logs_title">
                                                Create An <span class="theme-cl">Account</span>
                                            </h4>
                                        </div>
                                        <form method="post" id="form">
                                            {% csrf_token %}
                                            <div class=" form-group ">
                                                <label for="id_username">Username:</label>
                                                {{ form.username }}

                                                <label for="id_email">Email:</label>
                                                {{ form.email }}

                                                {{form.password1}}
                                                {{form.password2}}
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-info w-100 entervalue" onclick="onSubmit()">Register</button>
                                            </div>
                                        </form>
                                        <div class="form-group text-center mb-0 mt-3">
                                            Already have an Account? <a href="/login" class="theme-cl">LogIn</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mt-5 ">
                                    <div class="images mt-5">
                                        <div class="image one col-3" id = "orange"></div>
                                        <div class="image two col-3" id = "apple"></div>
                                        <div class="image three col-3" id = "banana"></div>
                                        <div class="image four col-3" id = "kiwi"></div>
                                        <div class="image five col-3" id = "watermelon">
                                            
                                        </div>
                                        <div class="image six col-3" id = "mango">
                                            
                                        </div>
                                        <div class="image seven col-3" id = "strawberry">
                                            
                                        </div>
                                        <div class="image eight col-3"  id = "guava">
                                            
                                        </div>
                                        <div class="image nine col-3" id = "cherry">
                                         
                                        </div>
                                    </div>
                                    <script src="https://cdn.jsdelivr.net/npm/short-unique-id@latest/dist/short-unique-id.min.js"></script>
                                    <script>
										let uid = new ShortUniqueId();
									
                                    </script>

                                    <div class="form-group" style="text-align:center">
                                        <button type="button" class="btn btn-warning w-50 entervalue" onclick="reset()">Reset</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================== Login Elements ============================= -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{%static '/js/jquery.min.js'%}"></script>
    <script src="{%static '/js/popper.min.js'%}"></script>
    <script src="{%static '/js/bootstrap.min.js'%}"></script>
    <script src="{%static '/js/select2.min.js'%}"></script>
    <script src="{%static '/js/slick.js'%}"></script>
    <script src="{%static '/js/jquery.counterup.min.js'%}"></script>
    <script src="{%static '/js/counterup.min.js'%}"></script>
    <script src="{%static '/js/custom.js'%}"></script>
    <script src="{%static '/js/script.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
    <script>
        let images = document.querySelectorAll(".image");
        jQuery.fn.shuffle = function () {
            for (var i = 0; i < images.length; i++) {
                $(this[i]).before($(this[Math.floor(Math.random() * this.length)]));
            }
            return this;
        };
    $('.image').shuffle();
    </script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
</body>
</html>
